/ table
/   thead
/     - @registrants.each do |registrant|
/       tr
/         td = registrant.id
/         td = link_to registrant.email, registrants_url(registrant.id)
/         td = registrant.expires_at